.menu-content {
    padding-top:20px;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
    borrder: none;
    -webkit-text-fill-color: #000; // 自定义字体的颜色
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;// 背景色
    transition: background-color 5000s ease-in-out 0s;
    font-weight: 500;
}

.atlas-single {
    width: 150px;
    display: inline-block;
    margin-right: 10px;
}

.atlas-img {
    display: block;
    width: 100%;
}

.atlas-tag {
    margin: 10px 0;
    width: 100%;
}
